*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
html{
   scroll-behavior: smooth;
}
body{
    background-color: black;
}
.container{
    width: 100%;
    height: 95vh;
    background: linear-gradient(45deg, black, rgb(79, 36, 104), black, rgb(149, 80, 189));
    background-size:300%;
    animation: color 12s ease-in-out infinite;
}
.container .header{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .header .logo{
    width: 220px;
    height: 180px;
    padding: 10px 15px 10px 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
    color: white;
    overflow: hidden;
}
.multitext{
    color: white;
    display: inline;
}
 .header-text h1{
    margin-top: 10px;
    font-size: 100px;
 }
 .header-text h1 span{
    color: rgb(255, 217, 0);
 }

 #about{
    padding: 80px 180px;
    color:white;
 }
 
 .row1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }

 .about-col1{
    flex-basis: 35%;
    justify-content: center;
 }
 .about-col1 img{
    width: 70%;
    border-radius: 25px;
 }
 .about-col2{
    flex-basis: 60%;
    padding: 0%;
 }
 .about-col2 p{
   font-size: 25px;
 }
 .sub-title{
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
 }
 .tab-titles{
    display: flex;
    margin: 0px 0 40px;
 }
 .tab-links{
    margin-top: 30px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }
 .tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(191, 126, 230);;
    position: absolute;
    left:0;
    bottom: 1px;
    transition: 0.5s;
 }

 .tab-links.active::after{
    width: 100%;
 }
 .tab-contents ul li{
   list-style: none;
   margin: 7px 0;
   font-size: 20px;
 }
 .tab-contents ul li span{
    color:#bf7ee6;
    font-size: 30px;
 }
 .tab-contents{
    display: none;
 }
 .tab-contents.active-tab{
    display: block;
 }

 #services{
    padding: 50px 0;
    color: white;
    margin: auto;
 }
.subtitle{
    color: white;
    font-size: 60px;
    font-weight: 700;
    padding: 50px 0;
    padding-left: 100px;
}
 .services-list{
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
 }   
 .services-list div{
    background: black;
    align-items: center;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s ease-out;

 } 
 .services-list div i{
    font-size:  50px;
    margin-bottom: 30px;
 }
 .services-list div h2{
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: white;
    font-size: 15px ;
    margin-top: 20px;
    display: inline-block;
    color: rgb(255, 217, 0);
 }
 .services-list p{
   font-size: 20px;
 }
 .services-list div h2:hover{
    color: rgb(255, 217, 0);
 }

 .services-list div:hover{
    background: rgb(117, 75, 141);
    transform: translateY(-15px);
    transition: 0.5s ease-in;
 }

 #portfolio{
    padding: 50px 0;
    color: white;
    background-color: black;

 }
 .subtitle3{
    color: white;
    font-size: 60px;
    font-weight: 700;
    padding: 50px 0;
    padding-left: 100px
 }
 .work-list{
    display: grid;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 120px;
 }
 .work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 30rem;
    height: 20rem;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7), #bf7ee6 );
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;

 }
 .layer a{
    margin-top: 20px;
    color: #bf7ee6 ;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

 }
 .work:hover img{
    transform: scale(1.1);

 }
 .work:hover .layer{
    height: 100%;
 }
.btn{
    display: block;
    margin: 30px auto ;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #bf7ee6 ;
    
}



.container0{
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, black, rgb(79, 36, 104), black, rgb(149, 80, 189));
    background-size:300%;
    animation: color 12s ease-in-out infinite;
}
.row{
   width: 100%;
   height: 80vh;
   max-width: 95%;
   background: black;
   border-radius: 20px;
   overflow: hidden;
   grid-template-columns: repeat(2,1fr);
   display: grid;
   z-index: 1000;

}
.contact-left{
   background: black;
   margin-top: 15rem;
}
.contact-right{
   margin-top: 10rem;
}
.subtitle4{
   color: white;
   font-size: 60px;
   font-weight: 700;
   padding-top: 1rem; 
   padding-left: 200px;
}

.contact-left p{
   color: white;
   font-size: 19px;
   padding-right: 12px;
   padding-top: 1rem;
   padding-left: 200px;

}

.contact-left p i{
   color:#bf7ee6;
   margin-right: 5px;
   margin-left: 15px;
   font-size: 25px;
   
}
.sns{
   padding-top: 2rem;
   padding-left: 18rem;

}
.sns a{
   
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   margin-left: px;
   color: white;
   display: inline-block;
   transition: transform 0.5s;
}
.sns a:hover{
   color: #bf7ee6;
   transform: translateY(-5px);
}
.contact-left .btn.btn2{

   display: block;
   margin: 1rem  16rem;

}

form input{
   
   height: 3rem;
   width: 90%;
   border: 0;
   outline: none;
   background: white;
   padding: 15px;
   margin: 15px 0;
   color: black;
   font-size: 18px;
   border-radius: 6px;
}
form textarea
 {
   height: 7rem;
   width: 90%;
   background: white;
   outline: none;
   padding: 15px;
   margin: 15px 0;
   color: black;
   font-size: 18px;
   border-radius: 6px;
 }
.btn_btn2{
   margin: 2rem 0rem;
   border: 1px solid white;
   padding: 14px 50px;
   border-radius: 7px;
   text-decoration: none;
   color: white;
   transition: 0.5s ease-in-out;
   background: transparent;
   font-size: 15px;
   cursor: pointer;
}

.btn_btn2:hover{
   background: #bf7ee6 ;
   
}

.copyright{
   width: 100%;
   color: white;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   background:rgba(191, 126, 230,0.2);
   font-weight: 200;
   bottom: 0;
}
.copyright i{
   color: white;
   font-size: 20px;
   padding: 0 7px;
}
#msg{
   color: green;
   margin-top: -20px;
   display: block;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

nav .fas{
   display: none;
}

.sns2 a{
   display: none;
}

@media (max-width: 600px){
   body{
      background-color: black;
      background-size: cover;
      
      
  }
   .header-text{
      margin-top: 100%;
      font-size: 12px;
   }
   .services-list .header .logo{
      width: 150px;
      height: 120px;
      padding: 10px 15px 10px 15px;
  }
   .header-text h1{
      margin-top: 10px;
      font-size: 30px;
   }

   nav .fas{
      display: block;
      font-size: 25px;
      color: white;
      background: transparent;
   }
   .multitext{
      font-size: 20px;
  }
  nav ul{
   background:rgba(22, 18, 24, 0.6);
   position: fixed;
   top:0;
   right:-400px;
   width: 400px;
   height: 100vh;
   padding-top: 50px;
   z-index: 2;
   transition: right 0.5s;
  }
  nav ul li{
   display: block;
   margin: 25px;
  }
  nav ul .fas{
   position: absolute;
   top: 25px;
   left: 25px;
   color: white;
   background: transparent;
   cursor: pointer;
  }
  .sub-title{
   font-size: 40px;
  }
  .about-col1, .about-col2 {
   flex-basis: 100%;
   }
   .about-col1{
      margin-bottom:1rem ;
   }
   .about-col2{
      margin-top: 2rem;
      font-size: 14px;
      padding: 0.5rem 0 ;
   }
   .about-col2 p{
      text-wrap: wrap;
   }

   #about{
      padding: 80px 40px;
      color:white;
   }
   .about-col1 img{
      margin: 0rem;
      width: 20rem;
      height: 30rem;
      border-radius: 25px;
   }
   .tab-contents ul li{
      font-size: 1.1rem;
   }
   .tab-titles{
      margin: 2rem 0;
   }
   .tab-links{
      font-size: 1rem;
   }
   .tab-links::after{
      content: '';
      width: 0;
      height: 1px;
      background: rgb(191, 126, 230);;
      position: absolute;
      left:0;
      bottom: 1px;
      transition: 0.5s;
      overflow: hidden;
   }
  
   .tab-links.active::after{
      width: 100%;
   }
   .subtitle{
      font-size: 40px;
   }
   .services-list{
      margin-top: 2rem;
      padding:0 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 7px;
      overflow: hidden;
   }
   .services-list p{
      font-size: 10px;
    }
   .container{
      height: 140vh;
      margin-right: 0;
   }
   #portfolio{
      padding: 0;

   }
   .container2{
      padding: 10px 50px;
   }
   .subtitle3{
      padding:50px 60px;
      font-size: 40px;
   }
   .work{
      
      width: 18rem;
      height: 10rem;
   }
   .work-list{
      margin-top: 10px;
      padding: 10px 1rem;
   }
   .subtitle4{
      font-size: 30px;
      padding: 50px 90px 50px 100px;
   }
  
   .row{
      grid-template-columns: 1fr;
   }
   .subtitle4{
      padding:50px 6rem;
      font-size: 30px;
   }
   .contact-right{
      margin-top: 5rem;
      overflow-y: hidden;
   }
   
   .contact-left {
      display: none;
   }
   form input, form textarea{
      overflow-y: hidden;
      margin: 1rem;
   }
    .con-sub{
      color: white;
      overflow-y: hidden;
      margin: 0 7rem;
   }
    .con-items p{
      color: white;
      font-size: 19px;
      margin: 0 4rem;
   }
    .con-items p i{
      color:#bf7ee6;
      font-size: 20px;
      padding: 0;
      margin: 0;
   }
   .sns2 a {
      text-decoration: none;
      font-size: 30px;
      margin: 3rem;
      color: white;
      display: inline-block;
      transition: transform 0.5s;
   }

   .sns2 a:hover{
      color: #bf7ee6;
      transform: translateY(-5px);
   }
   
   .btn.btn2{
      margin: 4rem;
   }

   .contact-right .btn_btn2{
      margin: 2rem 8rem;
   }
   .container0{
      
      height: 100vh;
      background: linear-gradient(45deg, black, rgb(79, 36, 104), black, rgb(149, 80, 189));
      animation: color 12s ease-in-out infinite;
      background-size: 300%;
      margin: auto;
   }
   
}