*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
   scroll-behavior: smooth;
}
body{
    background-color: black;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, black, rgb(79, 36, 104), black, rgb(149, 80, 189));
    background-size:300%;
    animation: color 12s ease-in-out infinite;
}
.container .header{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .header .logo{
    width: 220px;
    height: 180px;
    padding: 10px 15px 10px 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
    color: white;
    overflow: hidden;
}
.multitext{
    color: white;
    display: inline;
}
 .header-text h1{
    margin-top: 10px;
    font-size: 100px;
 }
 .header-text h1 span{
    color: rgb(255, 217, 0);
 }

 #about{
    padding: 80px 180px;
    color:white;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }

 .about-col1{
    flex-basis: 35%;
    justify-content: center;
 }
 .about-col1 img{
    width: 70%;
    border-radius: 25px;
 }
 .about-col2{
    flex-basis: 60%;
    padding: 0%;
 }
 .sub-title{
    color: white;
    font-size: 60px;
    font-weight: 700;
 }
 .tab-titles{
    display: flex;
    margin: 20px 0 40px;
 }
 .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
 }
 .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(191, 126, 230);;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
 }

 .tab-links.active::after{
    width: 100%;
 }
 .tab-contents ul li{
   list-style: none;
   margin: 10px 0;
   font-size: 20px;
 }
 .tab-contents ul li span{
    color:#bf7ee6;
    font-size: 30px;
 }
 .tab-contents{
    display: none;
 }
 .tab-contents.active-tab{
    display: block;
 }

 #services{
    padding: 50px 0;
    color: white;
 }
.subtitle{
    color: white;
    font-size: 60px;
    font-weight: 700;
    padding: 50px 0;
    padding-left: 100px;
}
 .services-list{
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 150px;
 }   
 .services-list div{
    background: black;
    align-items: center;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s ease-out;

 } 
 .services-list div i{
    font-size:  50px;
    margin-bottom: 30px;
 }
 .services-list div h2{
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: white;
    font-size: 15px ;
    margin-top: 20px;
    display: inline-block;
    color: rgb(255, 217, 0);
 }
 .services-list div h2:hover{
    color: rgb(255, 217, 0);
 }

 .services-list div:hover{
    background: rgb(117, 75, 141);
    transform: translateY(-15px);
    transition: 0.5s ease-in;
 }

 #portfolio{
    padding: 50px 0;
    color: white;
    background-color: black;

 }
 .container3{
   
    width: 100%;
    height: 100vh;
    background: black;
    background-size:300%;
    animation: color 12s ease-in-out infinite;
}
 .work-list{
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 120px;
 }
 .work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7), #bf7ee6 );
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;

 }
 .layer a{
    margin-top: 20px;
    color: #bf7ee6 ;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

 }
 .work:hover img{
    transform: scale(1.1);

 }
 .work:hover .layer{
    height: 100%;
 }
.btn{
    display: block;
    margin: 30px auto ;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #bf7ee6 ;
    
}

.subtitle4{
   color: white;
   font-size: 60px;
   font-weight: 700;
   padding: 50px;
   padding-left: 100px;
}
.contact-left{
   flex-basis: 35%;
   margin-top: 150px;
}

.contact-right{
   margin-top: 250px;
   flex-basis: 60%;
   padding-left: 10px;
}
.contact-left p{
   -top: px;
   color: white;
   font-size: 19px;
   padding-right: 12px;
   padding-left: 90px;

}
.contact-left p i{
   color:#bf7ee6;
   margin-right: 5px;
   margin-left: 15px;
   font-size: 25px;

}
.sns{
   padding: 25px;
   padding-left: 90px;
}
.sns a{
   
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   margin-left: 35px;
   color: white;
   display: inline-block;
   transition: transform 0.5s;
}
.sns a:hover{
   color: #bf7ee6;
   transform: translateY(-5px);
}
.btn.btn2{
   display: block;
   margin-left: 125px;
}
.contact-right form{
   width: 100%;
}
form input, form textarea{
   
   width: 100%;
   border: 0;
   outline: none;
   background: white;
   padding: 15px;
   margin: 15px 0;
   color: black;
   font-size: 18px;
   border-radius: 6px;
}
.btn_btn2{
   margin-left: 0;
   margin: 30px auto ;
   width: fit-content;
   border: 1px solid white;
   padding: 14px 50px;
   border-radius: 7px;
   text-decoration: none;
   color: white;
   transition: 0.5s ease-in-out;
   background: transparent;
   font-size: 15px;
   cursor: pointer;
}
.btn_btn2:hover{
   background: #bf7ee6 ;
   
}
.copyright{
   width: 100%;
   color: white;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   background:rgba(191, 126, 230,0.2);
   font-weight: 200;
   bottom: 0;
}
.copyright i{
   color: white;
   font-size: 20px;
   padding: 0 7px;
}
#msg{
   color: green;
   margin-top: -20px;
   display: block;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}